In [2]:
import pandas as pd
from db_operation_functions import queryComposer

In [3]:
df = pd.read_excel("Сценарии и меры.xlsx")

In [4]:
df.head(5)

,№,Наименование риска,Класс опасности,Вероятность,Ущерб,Риск,Возможные сценарии,Меры/рекомендации
0,1.0,Утечка газообразного азота,Технологические риски,Средняя,Средний,5.0,a. Утечка газообразного азота может привести к...,a. Регулярное техническое обслуживание и прове...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b. Обучение персонала правилам эксплуатации и ...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,c. Установка датчиков кислорода и сигнализации...
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,d. Использование специальных средств индивидуа...
4,2.0,Утечка метанола (метанольная вода),Экологические риски,Низкая,Средний,3.0,a. Утечка метанола может вызвать пожары и взры...,a. Регулярное техническое обслуживание и прове...

In [5]:
df.rename(columns={"№":"risk_id"}, inplace=True)

In [6]:
df.head()

,risk_id,Наименование риска,Класс опасности,Вероятность,Ущерб,Риск,Возможные сценарии,Меры/рекомендации
0,1.0,Утечка газообразного азота,Технологические риски,Средняя,Средний,5.0,a. Утечка газообразного азота может привести к...,a. Регулярное техническое обслуживание и прове...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b. Обучение персонала правилам эксплуатации и ...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,c. Установка датчиков кислорода и сигнализации...
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,d. Использование специальных средств индивидуа...
4,2.0,Утечка метанола (метанольная вода),Экологические риски,Низкая,Средний,3.0,a. Утечка метанола может вызвать пожары и взры...,a. Регулярное техническое обслуживание и прове...

In [7]:
df["risk_id"].fillna(method="ffill", inplace=True)

In [9]:
df.head()

,risk_id,Наименование риска,Класс опасности,Вероятность,Ущерб,Риск,Возможные сценарии,Меры/рекомендации
0,1.0,Утечка газообразного азота,Технологические риски,Средняя,Средний,5.0,a. Утечка газообразного азота может привести к...,a. Регулярное техническое обслуживание и прове...
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,b. Обучение персонала правилам эксплуатации и ...
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,c. Установка датчиков кислорода и сигнализации...
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,d. Использование специальных средств индивидуа...
4,2.0,Утечка метанола (метанольная вода),Экологические риски,Низкая,Средний,3.0,a. Утечка метанола может вызвать пожары и взры...,a. Регулярное техническое обслуживание и прове...

In [11]:
pm_df = df.loc[:,["risk_id", "Меры/рекомендации"]].copy()

In [13]:
pm_df["risk_id"]=pm_df["risk_id"].astype(int)

In [17]:
pm_df.dropna(inplace=True)

In [18]:
pm_df.head(10)

    risk_id                                  Меры/рекомендации
0         1  a. Регулярное техническое обслуживание и прове...
1         1  b. Обучение персонала правилам эксплуатации и ...
2         1  c. Установка датчиков кислорода и сигнализации...
3         1  d. Использование специальных средств индивидуа...
4         2  a. Регулярное техническое обслуживание и прове...
5         2   b. Обучение персонала правилам безопасной раб...
6         2  c. Установка датчиков утечки метанола и систем...
7         2  d. Использование средств индивидуальной защиты...
9         3  a. Регулярное техническое обслуживание и прове...
10        3  b. Обучение персонала правилам безопасной рабо...

In [19]:
pm_df.to_csv("pm_df_data.csv")

# Here we create csv for risk register main table

In [20]:
df.columns

Index(['risk_id', 'Наименование риска', 'Класс опасности', 'Вероятность',
       'Ущерб', 'Риск', 'Возможные сценарии', 'Меры/рекомендации'],
      dtype='object')

In [26]:
risk_df = df.drop(columns=["Меры/рекомендации"])

In [27]:
risk_df = risk_df[risk_df["Возможные сценарии"].notna()]

In [31]:
merged_risk_df = risk_df.groupby("risk_id").agg({"Возможные сценарии":lambda s: ", ".join(s)}).reset_index()

In [33]:
merged_risk_df["risk_id"] = merged_risk_df["risk_id"].astype(int)

In [45]:
merged_risk_df.head(10)

   risk_id                                 Возможные сценарии
0        1  a. Утечка газообразного азота может привести к...
1        2  a. Утечка метанола может вызвать пожары и взры...
2        3  a. Утечка индустриального масла может вызвать ...
3        4  a. Утечка топливного газа может вызвать риск в...
4        5  a. Утечка нефтегазоконденсатной смеси может вы...
5        6  a. Утечка газа через неплотности фланцевых сое...
6        7  a. Превышение допустимых параметров работы обо...
7        8  a. Использование неисправного инструмента в зо...
8        9  a. Ремонтные работы с использованием открытого...
9       10  a. Отказ технологического оборудования - наруш...

In [46]:
n_risk_df = risk_df[risk_df["Класс опасности"].notna()]

In [47]:
n_risk_df.drop(columns=["Возможные сценарии"], inplace=True)

C:\Users\Miqasa\AppData\Local\Temp\ipykernel_16620\2439829573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_risk_df.drop(columns=["Возможные сценарии"], inplace=True)

In [49]:
n_risk_df["risk_id"] = n_risk_df["risk_id"].astype(int)

C:\Users\Miqasa\AppData\Local\Temp\ipykernel_16620\77158031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_risk_df["risk_id"] = n_risk_df["risk_id"].astype(int)

In [50]:
n_risk_df.head(10)

,risk_id,Наименование риска,Класс опасности,Вероятность,Ущерб,Риск
0,1,Утечка газообразного азота,Технологические риски,Средняя,Средний,5.0
4,2,Утечка метанола (метанольная вода),Экологические риски,Низкая,Средний,3.0
13,3,"Утечка сероводорода, сероводорода в смеси с уг...",Технологические риски,Средняя,Средний,5.0
18,4,Утечка топливного газа,Экологические риски,Высокая,Высокий,9.0
23,5,Утечка нефтегазоконденсатной смеси,Экологические риски,Средняя,Средний,5.0
28,6,Загазованность рабочих помещений и территории ...,Технологические риски,Высокая,Высокий,9.0
31,7,Нарушения технологического режима работы обору...,Риски персонала,Средняя,Средний,5.0
34,8,Применение при производстве ремонтных работ не...,Технологические риски,Средняя,Средний,5.0
37,9,Производство ремонтных работ на территории цех...,Риски персонала,Средняя,Высокий,6.0
40,10,"Неисправность технологического оборудования, с...",Технологические риски,Высокая,Высокий,9.0

In [51]:
merged_final_df = pd.merge(n_risk_df, merged_risk_df, how="inner", on="risk_id")

In [53]:
merged_final_df.head(5)

,risk_id,Наименование риска,Класс опасности,Вероятность,Ущерб,Риск,Возможные сценарии
0,1,Утечка газообразного азота,Технологические риски,Средняя,Средний,5.0,a. Утечка газообразного азота может привести к...
1,2,Утечка метанола (метанольная вода),Экологические риски,Низкая,Средний,3.0,a. Утечка метанола может вызвать пожары и взры...
2,3,"Утечка сероводорода, сероводорода в смеси с уг...",Технологические риски,Средняя,Средний,5.0,a. Утечка индустриального масла может вызвать ...
3,4,Утечка топливного газа,Экологические риски,Высокая,Высокий,9.0,a. Утечка топливного газа может вызвать риск в...
4,5,Утечка нефтегазоконденсатной смеси,Экологические риски,Средняя,Средний,5.0,a. Утечка нефтегазоконденсатной смеси может вы...

In [58]:
merged_final_df["Возможные сценарии"][1]

'a. Утечка метанола может вызвать пожары и взрывы из-за его высокой горючести и легковоспламеняемости, b. Утечка метанола может привести к отравлению работников и окружающей среды из-за его токсичности'

In [59]:
merged_final_df.to_csv("rr_df_data.csv")

# save old thing and load new

In [1]:
from db_operation_functions import queryComposer
import pandas as pd

In [2]:
qc= queryComposer("risk_register")
raw_data = qc.select_query(order_opt=["risk_id"])
qc.close_connection()

In [3]:
df = pd.DataFrame(raw_data)

In [7]:
df.head()

,risk_id,risk_name,risk_class_id,risk_details,risk_score,risk_holder,risk_prob,risk_damage
0,1,Физические опасные и вредные производственные ...,6,asdfasdfd,4.20,Жамилов Ф.В.,59.0,25.0
1,2,Движущиеся машины и механизмы.,2,,2.15,,28.0,15.0
2,3,Подвижные части производственного оборудования.,7,,3.45,,35.0,34.0
3,4,Разрушающиеся конструкции.,3,,2.45,Шрамович Ц.В.,24.0,25.0
4,5,Повышенная запыленность и загазованность возду...,7,,7.10,Якубович В.А.,63.0,79.0

In [2]:
import numpy as np

In [9]:
np.random.randint(0, 100)

30

In [13]:
df["risk_prob"] = df["risk_prob"].fillna(value=pd.Series(np.random.randint(0, 100, size=len(df["risk_prob"]))))

In [16]:
df["risk_damage"] = df["risk_damage"].fillna(value=pd.Series(np.random.randint(0, 100, size=len(df["risk_damage"]))))

In [17]:
df.tail()

,risk_id,risk_name,risk_class_id,risk_details,risk_score,risk_holder,risk_prob,risk_damage
56,57,"Нарушение требований, связанных с использовани...",5,None,4.0,None,86.0,67.0
57,58,Нарушение процедур изоляции или безопасной раб...,2,None,7.0,None,24.0,53.0
58,59,Неадекватность процедуры проведения администра...,1,None,4.0,None,53.0,54.0
59,60,Некомпетентность аудиторов.,1,None,5.0,None,34.0,81.0
60,72,Повышение пенсионного возраста,4,,5.0,В.В. Златов,58.0,65.0

In [18]:
df["risk_score"] = (df["risk_prob"]+df["risk_damage"])/20

In [20]:
df.tail()

,risk_id,risk_name,risk_class_id,risk_details,risk_score,risk_holder,risk_prob,risk_damage
56,57,"Нарушение требований, связанных с использовани...",5,None,7.65,None,86.0,67.0
57,58,Нарушение процедур изоляции или безопасной раб...,2,None,3.85,None,24.0,53.0
58,59,Неадекватность процедуры проведения администра...,1,None,5.35,None,53.0,54.0
59,60,Некомпетентность аудиторов.,1,None,5.75,None,34.0,81.0
60,72,Повышение пенсионного возраста,4,,6.15,В.В. Златов,58.0,65.0

In [22]:
df.drop(columns=["risk_id"], inplace=True)

In [23]:
df.to_csv("old_data.csv")

# new imports

In [3]:
df = pd.read_csv("rr_df_data.csv")

In [4]:
df.columns

Index(['Unnamed: 0', 'risk_id', 'Наименование риска', 'Класс опасности',
       'Вероятность', 'Ущерб', 'Риск', 'Возможные сценарии'],
      dtype='object')

In [5]:
df.drop(columns=["Unnamed: 0", "risk_id"], inplace=True)

In [6]:
df.columns=["risk_name", "risk_class_name", "risk_prob_l", "risk_damage_l", "risk_score_l", "risk_details"]

In [7]:
print(df["risk_prob_l"].unique())
print(df["risk_damage_l"].unique())

['Средняя' 'Низкая' 'Высокая' 'Средняя ' 'Очень низкая' 'Низкая ']
['Средний' 'Высокий' 'Низкий' 'Очень высокий']

In [8]:
word_to_interval_prob = {
    'Средняя':(40, 60),
    'Низкая': (20, 40),
    'Высокая':(60, 80),
    'Средняя ':(40, 60),
    'Очень низкая':(0, 20),
    'Низкая ':(20, 40)
    }
word_to_interval_damage = {
    'Средний':(40, 60),
    'Высокий':(60, 80),
    'Низкий' :(20, 40),
    'Очень высокий':(80,100),
}
def generate_random_number(interval):
    return np.random.randint(interval[0], interval[1])

df["risk_prob"] = df["risk_prob_l"].map(word_to_interval_prob).apply(generate_random_number)
df["risk_damage"] = df["risk_damage_l"].map(word_to_interval_damage).apply(generate_random_number)

In [9]:
df["risk_score"] = (df['risk_prob']+df["risk_damage"])/20

In [10]:
df["risk_class_name"].unique()

array(['Технологические риски', 'Экологические риски', 'Риски персонала',
       'Форс-мажорные риски', 'Юридические риски', 'Стратегические риски'],
      dtype=object)

In [11]:
qcn = queryComposer("risk_classification")
raw_Data = qcn.select_query(order_opt=["risk_class_id"])
qcn.close_connection()
rc_df = pd.DataFrame(raw_Data)

In [12]:
merged_df = pd.merge(df, rc_df, on="risk_class_name")

In [13]:
final_df = merged_df[["risk_name", "risk_class_id", "risk_details", "risk_prob", "risk_damage", "risk_score"]]

In [14]:
final_df.head(5)

,risk_name,risk_class_id,risk_details,risk_prob,risk_damage,risk_score
0,Утечка газообразного азота,3,a. Утечка газообразного азота может привести к...,50,45,4.75
1,"Утечка сероводорода, сероводорода в смеси с уг...",3,a. Утечка индустриального масла может вызвать ...,41,55,4.80
2,Загазованность рабочих помещений и территории ...,3,a. Утечка газа через неплотности фланцевых сое...,69,60,6.45
3,Применение при производстве ремонтных работ не...,3,a. Использование неисправного инструмента в зо...,51,56,5.35
4,"Неисправность технологического оборудования, с...",3,a. Отказ технологического оборудования - наруш...,71,72,7.15

In [15]:
final_df.to_csv("risk_register_final.csv")

In [19]:
check_df = pd.read_csv("risk_register_final.csv")
check_df.drop(columns=["Unnamed: 0"], inplace=True)

In [20]:
check_df.head()

,risk_name,risk_class_id,risk_details,risk_prob,risk_damage,risk_score
0,Утечка газообразного азота,3,a. Утечка газообразного азота может привести к...,50,45,4.75
1,"Утечка сероводорода, сероводорода в смеси с уг...",3,a. Утечка индустриального масла может вызвать ...,41,55,4.80
2,Загазованность рабочих помещений и территории ...,3,a. Утечка газа через неплотности фланцевых сое...,69,60,6.45
3,Применение при производстве ремонтных работ не...,3,a. Использование неисправного инструмента в зо...,51,56,5.35
4,"Неисправность технологического оборудования, с...",3,a. Отказ технологического оборудования - наруш...,71,72,7.15

In [49]:
import psycopg2
DEFAULT_CONNECTION_PARAMS = {
    "dbname": "oil_factory_db",
    "user": "of_user",
    "password": "9028",
    "host": "localhost",
}
conn = psycopg2.connect(**DEFAULT_CONNECTION_PARAMS)

In [57]:
for idx,rec in final_df.iterrows():
    tmp = dict(rec)
    qc = queryComposer("risk_register")
    qc.insert_query(tmp)
    qc.close_connection()

# начинаем вносить меры предосторожности

In [21]:
pm_df = pd.read_csv("pm_df_data.csv")

In [22]:
pm_df.drop(columns=["Unnamed: 0"], inplace= True)

In [23]:
pm_df.columns = ["risk_id", "prevention_measure_name"]

In [24]:
pm_df.head()

   risk_id                            prevention_measure_name
0        1  a. Регулярное техническое обслуживание и прове...
1        1  b. Обучение персонала правилам эксплуатации и ...
2        1  c. Установка датчиков кислорода и сигнализации...
3        1  d. Использование специальных средств индивидуа...
4        2  a. Регулярное техническое обслуживание и прове...

In [65]:
for _,rec in pm_df.iterrows():
    qc = queryComposer("prevention_measures")
    try:
        qc.insert_query(dict(rec))
    except:
        print("oshibqa")
    qc.close_connection()

ForeignKeyViolation: ОШИБКА:  INSERT или UPDATE в таблице "prevention_measures" нарушает ограничение внешнего ключа "prevention_measures_risk_id_fkey"
DETAIL:  Ключ (risk_id)=(46) отсутствует в таблице "risk_register".